.NavBar{
    display: flex;
    justify-content: center;
    margin-top:40px;
}

.NavItem{
    margin-right: 50px;
    font-size: 19px;
    font-family: 'Lato',sans-serif;
    cursor: pointer;
    transition: all ease 300ms;
    padding:7px;
    border-radius: 10px;
}

.NavItem:hover{
    background-color: #DEB6AB;
    font-weight: bold;
}

.selected{
    background-color: #DEB6AB;
    font-weight: bold;
}

.HomeTitle{
    display: flex;
    justify-content: center;
    margin-top:200px;
}

.HomeContent{
    font-size:25px;
    font-weight: bold;
    font-family: 'Lato',sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

.HomeCap{
    font-size:20px;
    font-weight: 300;
    font-family: 'Lato',sans-serif;
    margin-bottom: 20px;
}

.HomeActions{
    display: flex;
    justify-content: center;
}

.toLogin,.toSignUp{
    margin-right:30px;
    font-size: 20px;
    font-family: 'Lato',sans-serif;
    width:150px;
    height: 40px;
    border:none;
    cursor: pointer;
    border-radius:8px;
    background-color: #F8ECD1;
    color:#85586F;
    font-weight: bold;
    transition: all ease 200ms;
}

.toLogin:hover, .toSignUp:hover{
    background-color: #85586F;
    color: #F8ECD1;
}

.logout{
    display:none;
}

.alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: #f0f9ff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    opacity: 0;
    visibility: hidden;
    animation: slideIn 0.5s ease-in-out forwards;
    animation-fill-mode: forwards;
  }
  .alert.show {
    visibility: visible;
    opacity: 1; /* Animate visibility and opacity on show */
  }


  .alert.success {
    background-color: #d4ffdf;
    border-color: #c3ffd9;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-50%) translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateX(-50%);
    }
  }