input{
    display: block;
    height:30px;
    width: 400px;
    border:2px solid #85586F;
    border-radius: 5px;
    font-family: 'Lato',sans-serif;
    outline: none !important;
    font-weight: 600;
    font-size: 17px;
    padding-left: 8px;
    margin-bottom:10px;
    margin-top:10px;
}

label{
    font-family: 'Lato',sans-serif;
    font-weight: 500;
}

form{
    margin-top:30px;
}

.btnLogin,.btnSignUp{
    font-size: 20px;
    font-family: 'Lato',sans-serif;
    width:150px;
    height: 40px;
    border:none;
    cursor: pointer;
    border-radius:8px;
    background-color: #F8ECD1;
    color:#85586F;
    font-weight: bold;
    transition: all ease 200ms;
    margin-top:30px;
    margin-left:30%;
}

.btnLogin:hover,.btnSignUp:hover{
    background-color: #85586F;
    color: #F8ECD1;
}

.FormHolder{
    display: flex;
    justify-content: center;
    margin-top:50px;

}

.FormHolderTitle{
    text-align: center;
    font-weight: 600;
    font-family: 'Lato',sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.FormHolderCap{
    text-align: center;
    font-family: 'Lato',sans-serif;
    font-weight: 350;
}

textarea{
    display:block;
    margin-top:10px;
    border:2px solid #85586F;
    border-radius: 5px;
    font-size:16px;
    font-family: 'Lato',sans-serif;
    padding-left:5px;
    outline: none;
    font-weight: bold;
}