.ProjectReviewsHolder{
    display: flex;
    justify-content: center;
    margin-top:50px;
}
.ProjectReviewsTitle{
    font-size:30px;
    font-family: 'Lato',sans-serif;
    font-weight: bold;
    margin-bottom:10px;
}

.ProjectReviewsCap{
    font-size:20px;
    font-family:'Lato',sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}

.reviewLabel{
    display: block;
    font-size:18px;
    font-weight: 600;
    font-family: 'Lato',sans-serif;
}

#reviewInput{
    width:400px;
    height: 30px;
    border-radius: 5px;
    border:2px solid #85586F;
    margin-top:15px;
    outline: none;
    font-family: 'Lato',sans-serif;
    font-size:17px;
    font-weight: bold;
    padding-left:8px;
}

#ratingSelect{
    border:2px solid #85586F;
    font-size:19px;
    outline: none;
    border-radius: 5px;
    height: 37px;
    font-family: 'Lato',sans-serif;
    font-weight: bold;

}

.ReviewsTitle{
    font-size:20px;
    font-family: 'Lato',sans-serif;
    font-weight: light;
    margin-top:30px;
    margin-bottom: 20px;
}

.ReviewTitle{
    font-size:22px;
    font-family: 'Lato',sans-serif;
    font-weight: bold;
}

.ReviewRating{
    font-size:19px;
    font-weight: 450;
    font-family: 'Lato',sans-serif;
    margin-top:10px;
    margin-bottom: 10px;
}
.ReviewContent{
    font-size:18px;
    font-family: 'Lato',sans-serif;
}

.continue{
    background-color: #85586F;
    color: white;
    border:none;
    border-radius: 5px;
    width:150px;
    height:30px;
    cursor: pointer;
    font-family: 'Lato',sans-serif;
    font-weight: bold;
    margin-top:30px;
    margin-bottom:20px;
    margin-left:30%;
}